/* .video-container {
    margin: 20px auto;
}


.reproductor {
    margin: 20px auto;

}

.boton-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-botons {
    width: 100%;
    height: 100%;
    background: #F4DEB3;
    border-radius: 16px 16px 16px 16px;
}  

.stop-button,
.play-button,
.fullscreen-button {
    margin: 20px;
    width: 40px;
    height: 40px;
    background: #DEB89C;
    border-radius: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    margin-right: 10px; 
}

.stop-button img,
.play-button img,
.fullscreen-button img {
    width: 70%; 
    height: 50%;
    max-width: 100%;
    max-height: 100%;
} */

.video-container {
    display: flex; /* Usa flexbox para establecer el diseño */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
}

.reproductor-container,
.container-botons {
    flex: 1; /* Haz que ambos elementos ocupen el mismo espacio */
    display: flex; /* Usa flexbox para establecer el diseño */
}

.reproductor {
    width: 100%; /* Ocupa todo el espacio disponible horizontalmente */
    height: 100%; /* Ocupa todo el espacio disponible verticalmente */
}

.container-botons {
    flex-direction: column; /* Apila los elementos verticalmente */
    justify-content: center; /* Centra verticalmente los elementos */
    align-items: center; /* Centra horizontalmente los elementos */
}

.stop-button,
.play-button,
.fullscreen-button {
    margin: 20px;
    width: 40px;
    height: 40px;
    background: #DEB89C;
    border-radius: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    margin-right: 10px; 
}

.stop-button img,
.play-button img,
.fullscreen-button img {
    width: 70%; 
    height: 50%;
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 768px) {
    .video-container {
        flex-direction: column; /* Cambia la dirección del flexbox a columna */
    }

    .reproductor-container,
    .container-botons {
        flex: none; /* Desactiva la flexibilidad para que los elementos no se ajusten */
        width: 100%; /* Ancho completo para ocupar toda la pantalla */
    }

    .reproductor {
        height: 50vh; /* El reproductor ocupa la mitad de la altura de la pantalla */
    }
}